.logo_animation {
  filter: none;
  transition: all 0.2s ease;
}

.logo_animation:hover {
  filter: drop-shadow(4px 4px 4px #208368);
  transition: all 0.2s ease;
}

/* Применяем border-radius ко всем элементам внутри карусели */
.carousel-wrapper .slick-list {
  border-radius: 16px !important; /* На slick-list */
}

.carousel-wrapper .slick-slide {
  border-radius: 16px !important; /* На каждый слайд */
}

.carousel-wrapper .carousel-slide {
  overflow: hidden;
}

.carousel-wrapper .slick-track {
  border-radius: 16px !important; /* На внутренний контейнер слайдов */
}
.carousel-wrapper .slick-slide {
  overflow: hidden;
}

.carousel-wrapper .carousel-slide {
  border-radius: 16px !important;
  overflow: hidden;
}
