.logo_animation {
  filter: none;
  transition: all 0.2s ease;
}

.logo_animation:hover {
  filter: drop-shadow(4px 4px 4px #208368);
  transition: all 0.2s ease;
}

:where(.css-dev-only-do-not-override-161f05s).ant-carousel
  .slick-initialized
  .slick-slide {
  border-radius: 5rem !important;
}
